.card_container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 10px;
}

.card_image {
  position: relative;
  width: 300px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: 0.3s;
}

.card_image:hover,
.card_image:active,
.card_image:focus {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.card_body {
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
}

@media screen and (max-width: 1199.98px) {
  .card_container {
    font-size: 14px;
  }

  .card_image {
    width: 250px;
    height: 150px;
  }
}

@media screen and (max-width: 991.98px) {
  .card_container {
    font-size: 12px;
  }

  .card_image {
    width: 200px;
    height: 100px;
  }
}

@media (max-width: 575.98px) {
  .card_container {
    font-size: 16px;
  }

  .card_image {
    width: 300px;
    height: 200px;
  }
}
