.card_container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 10px;
}

.card_image {
  position: relative;
  width: 300px;
  height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card_body {
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
}

@media screen and (max-width: 1199.98px) {
  .card_container {
    font-size: 14px;
  }

  .card_image {
    width: 250px;
    height: 150px;
  }
}

@media screen and (max-width: 991.98px) {
  .card_container {
    font-size: 12px;
  }

  .card_image {
    width: 200px;
    height: 100px;
  }
}

@media (max-width: 575.98px) {
  .card_container {
    font-size: 16px;
  }

  .card_image {
    width: 300px;
    height: 200px;
  }
}
